<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>

    <!-- Latest compiled and minified CSS -->

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/cyborg/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-HOjmaybB3GQTM8HunY46MvK7ngm9b/eRGOWESCQ/s+Vk4omobTY5+FXqurpSFcbz" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>


<div th:insert="~{header :: header}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-8 col-offset-2">
            <div class="heading">
                <h1> Contact List </h1>
            </div>

            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead class="thead-inverse">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>

                    <tr>
                        <td>Bob</td>
                        <td>Builder</td>
                        <td>111-222-3333</td>
                        <td>123@123.com</td>
                    </tr>
                    <tr th:each="contact : ${contact}">
                        <td th:text="${contact.firstName}">Bob</td>
                        <td th:text="${contact.lastName}">Builder</td>
                        <td th:text="${contact.phoneNumber}">111-222-3333</td>
                        <td th:text="${contact.emailAddress}">123@123.com</td>
                        <td><a href="#" th:href="@{'/contact/' + ${contact.id} + '/update'}">Update</a></td>
                        <td><a href="#" th:href="@{'/contact/' + ${contact.id} + '/delete'}">Delete</a></td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>