<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update People</title>

    <!-- Latest compiled and minified CSS -->

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/cyborg/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-HOjmaybB3GQTM8HunY46MvK7ngm9b/eRGOWESCQ/s+Vk4omobTY5+FXqurpSFcbz" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="row">
    <div class="container bg-dark text-info">
        <form action="#" th:action="@{/update}" th:object="${contact}" class="form-group"method="post" >
            <div class="row">
                <div class="col-6 offset-1">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{version}"/>
                    <h2 class="form-title text-primary">Update a Person</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >First Name:</label>
                    <input type="text" class="form-control"  th:field="*{firstName}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >Last Name:</label>
                    <input type="text" class="form-control" th:value="*{lastName}" th:field="*{lastName}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >Age:</label>
                    <input type="text" class="form-control" th:value="*{age}" th:field="*{age}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >Gender:</label>
                    <input type="text" class="form-control" th:value="*{gender}" th:field="*{gender}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >Phone Number:</label>
                    <input type="text" class="form-control" th:value="*{phoneNumber}" th:field="*{phoneNumber}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >Email Address:</label>
                    <input type="text" class="form-control" th:value="*{emailAddress}"  th:field="*{emailAddress}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >City:</label>
                    <input type="text" class="form-control" th:value="*{city}" th:field="*{city}">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label class="col-form-label" >State:</label>
                    <input type="text" class="form-control" th:value="*{state}" th:field="*{state}">
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary">Close</button>
            </div>
        </form>
    </div>

</div>

</body>
</html>